*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.card-container{
    display: flex;
    flex-direction: column;
    margin: 1.7rem;
    padding: 0 .5cm;
    border: 1px solid;
    background-color: rgb(194, 204, 208);
    align-items: center;
    min-width: 150px;
}
p, h1, h2{
    margin: 10px 0;
    text-align: center;
    font-size: 1rem;
}
.btn{
    margin: 2rem;
} 